@import url(https://fonts.google.com/specimen/Outfit);

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-grayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfilt", sans-serif;
  background-color: var(--clr-light-gray);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  background-color: var(--clr-white);
  border-radius: 20px;
  text-align: center;
  gap: 20px;
}

.card__body {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card__header img {
  width: 300px;
  border-radius: 10px;
}

.leading-text {
  font-size: 20px;
  font-weight: 700;
  color: var(--clr-dark-blue);
}

.card__body p {
  font-size: 15px;
  font-weight: 400;
  color: var(--clr-grayish-blue);
}
